@tailwind base;
@tailwind components;
@tailwind utilities;

.top-section {
  /* background-image: url('../../assets/Asset\ 1@2x\ 1.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(151.17deg, #26c2b9 8.69%, #288be7 126.06%);
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}
/* 
.swiper-slide-prev {
  width: 160px !important;
}

.swiper-slide-next {
  width: 200px !important;
} */
